body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

.btn-container {
    text-align: center;
}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-size: 30px;
    background-color: greenyellow;
}

#result, #scoreboard, #computerOutput {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}